# Игнорируем сгенерированный код Verilator и бинарники
obj_dir/

# Игнорируем результаты симуляции (они могут весить гигабайты!)
*.vcd
*.fst

# Игнорируем сгенерированные файлы данных
*.csv
*.dat
*.out

# Игнорируем логи компиляции
*.log

# Временные файлы операционных систем
.DS_Store
Thumbs.db

# Файлы настроек редакторов (VS Code, CLion, Vim и т.д.)
.vscode/
.idea/
*.swp
*.swo

# Игнорируем скомпилированные объектные файлы C/C++ на всякий случай
*.o
*.d
